# local package
-e .

psycopg2
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Dance
gunicorn
flask-restplus

DotMap

#######twitter#######
python-twitter

#######last fm#######
pylast
Pillow

#dev
pylint-flask #handles pylint errors for models