# local package
-e .

# TODO: switch to pypy package when its available
git+https://github.com/Rapptz/discord.py@rewrite
pyyaml

#request stuff
aiohttp
cchardet
aiodns

#faster async loop
uvloop

#meme stuff
emoji