# local package
-e .

# TODO: switch to pypy package when its available
git+https://github.com/Rapptz/discord.py@rewrite
pyyaml

#request stuff
aiohttp
cchardet

#faster async loop
uvloop

#meme stuff
emoji

# allow people to upload to imgur if they dont want
# to use the link they passed when adding to an album
imgurpython